[submodule "alo/lib/forge-std"]
	path = alo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ThreeSigma-Challenge/lib/forge-std"]
	path = ThreeSigma-Challenge/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ThreeSigma-Challenge/lib/openzeppelin-contracts"]
	path = ThreeSigma-Challenge/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Fetching Data & Scripting/AirDroppingUserNFT/lib/forge-std"]
	path = Fetching Data & Scripting/AirDroppingUserNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fetching Data & Scripting/AirDroppingUserNFT/lib/openzeppelin-contracts"]
	path = Fetching Data & Scripting/AirDroppingUserNFT/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
